@{
    ViewBag.Title = "Add books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

Fill book details

@using (Html.BeginForm("Add", "Book", FormMethod.Post))
{
    <div class="row">
        <div>
            Title:
        </div>
        <div>
            @Html.TextBox("tbTitle")
        </div>

        <div>
            Author:
        </div>
        <div>
            @Html.TextBox("tbAuthor")
        </div>

        <div>
            Year:
        </div>
        <div>
            @Html.TextBox("tbYear")
        </div>

    </div>
    <div>
        <div>
            <button type="submit">MEHET</button>
        </div>
    </div>
}
