@model Library.Web.Models.SearchViewModel

@{
    ViewBag.Title = "Add books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

Fill book details

@using (Html.BeginForm("Add", "Book", FormMethod.Post))
{
    <div class="row">
        <div>
            Title:
        </div>
        <div>
            @Html.TextBoxFor(m => m.Title)
        </div>

        <div>
            Author:
        </div>
        <div>
            @Html.TextBoxFor(m => m.Author)
        </div>

        <div>
            Year:
        </div>
        <div>
            @Html.TextBoxFor(m => m.Year)
        </div>

    </div>
    <div>
        <div>
            <button type="submit">SUBMIT</button>
        </div>
    </div>
}
