@{
    ViewBag.Title = "Add books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
<div>
    <p>Add a book</p>
</div>
</body>
</html>
