@{
    ViewBag.Title = "Borrow books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

Fill book details

@using (Html.BeginForm("Borrow", "Book", FormMethod.Post))
{
    <div class="row">
        <div>
            Book ID:
        </div>
        <div>
            @Html.TextBox("tbId")
        </div>
    </div>

    <div class="row">
        <div>
            Reader name:
        </div>
        <div>
            @Html.TextBox("tbName")
        </div>
    </div>

    <div class="row">
        <div>
            Number of days:
        </div>
        <div>
            @Html.TextBox("tbDays")
        </div>
    </div>
    <div>
        <div>
            <button type="submit">SUBMIT</button>
        </div>
    </div>
}
