@model Library.Web.Models.SearchViewModel

@{
    ViewBag.Title = "Index page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Ajax.BeginForm("Search", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "resultdiv", OnBegin = "disableSearchButton", OnComplete = "enableSearchButton" }))
{
    <div class="row">
        Search books<br/>
        By Title:
        @Html.TextBoxFor(m => m.Title)
        <button type="submit" id="btnSearch">Search</button>
    </div>
}

<div id="resultdiv"></div>

<script>
    function disableSearchButton() {
        document.getElementById("btnSearch").disabled = true;
    }
    function enableSearchButton() {
        document.getElementById("btnSearch").disabled = false;
    }
</script>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}