@{
    ViewBag.Title = "Return books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Return", "Book", FormMethod.Post))
{
    <div class="row">
        <div>
            Book ID:
        </div>
        <div>
            @Html.TextBox("tbId")
        </div>
    </div>
    <div>
        <div>
            <button type="submit">SUBMIT</button>
        </div>
    </div>
}
