@model Library.Web.Models.SearchViewModel
@{
    ViewBag.Title = "Search books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

Search book by Id

@using (Html.BeginForm("Search", "Book", FormMethod.Post))
{
    <div class="row">
        <div>
            Book ID:
        </div>
        <div>
            @Html.TextBoxFor(m => m.Title)
        </div>
    </div>
    <div>
        <div>
            <button type="submit">SUBMIT</button>
        </div>
    </div>
}
